@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Rubik:wght@300&display=swap');
*{/* selector universal */
  font-family: 'Roboto', sans-serif;/* fuente del texto utilizado universal */
  box-sizing: border-box;/* propiedad para que el borde de las cajas se aplique contenidas */
  margin: 0;/* no deja espacio entre el bborde de la pagina y el contenido de la misma */
  padding: 0;
}
main{
  padding: 0px 350px ;
  /* background-color: pink; */
}

nav {
  background-color: #f2f2f2; /* color de fondo */
  height: 60px; /* altura del nav */
  display: flex; /* flexbox para los elementos de lista */
  justify-content: space-between; /* espacio entre los elementos */
  align-items: center; /* centrar verticalmente */
  padding: 0 20px; /* padding horizontal */
}

nav ul {
  margin: 0; /* eliminar el margen predeterminado de la lista */
  padding: 0; /* eliminar el padding predeterminado de la lista */
  display: flex; /* flexbox para los elementos de lista */
  list-style-type: none; /* quitar los puntos de la lista */
  gap: 3vw;
}


nav a {
  text-decoration: none; /* quitar subrayado en los enlaces */
  color: #333333; /* color del texto */
  font-weight: bold; /* negrita para destacar */
  font-size: 16px; /* tamaño de la fuente */
}

nav a:hover {
  color: #fff; /* cambio de color al pasar el mouse */
  background-color: #333; /* cambio de color de fondo al pasar el mouse */
}

.descripcion{
  display: flex;
  height: 500px;
  margin: 50px 0px;
}

.feature {
  padding: 10px;
  font-size: 50px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.slogan{
  font-size: 20px;
}


.precio{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.tiposPrecios{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prom{
  display: flex;
  justify-content: center;
  height: 400px;
  width: 300px;
  border: 1px solid black;
  background-color: aquamarine;
  border-radius: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 4vh;
  text-align: center;
  margin: 0;
}