@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Rubik:wght@300&display=swap');
*{/* selector universal */
  font-family: 'Roboto', sans-serif;/* fuente del texto utilizado universal */
  box-sizing: border-box;/* propiedad para que el borde de las cajas se aplique contenidas */
  margin: 0;/* no deja espacio entre el bborde de la pagina y el contenido de la misma */
  padding: 0;
  scroll-behavior: smooth;/* desplaza mejor el scroll */
}
main{
  animation-name: left-to-right;
  animation-duration: 2s;
  background-color:rgb(231, 162, 223) ;
}

@keyframes left-to-right{ /* ANIMACION */
  0%{
    transform: translateX(-500px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }

}


header{
  position: fixed;
  background-color:rgb(231, 162, 223) ; /* color de fondo */
  height: 7vh; /* altura de la barra nav */
  display: flex; /* flexbox para los elementos hijos*/
  justify-content: space-between; /* espacio entre los elementos */
  align-items: center; /* centrar verticalmente */
  padding: 0 20vw; /* padding horizontal */
  width: 100%; /* el fixed rompe el width */
  box-shadow: 0px 0px 20px rgba(38, 38, 40, 0.7);
}
h1{
  font-size: 23px;
}
.menu-btn{
  display: none;
}

.menu{
  display: flex;
  gap: 3vw;
}
.menu a {
  text-decoration: none; /* quitar subrayado en los enlaces */
  color:black; /* color del texto */
  font-weight: bold; /* negrita para destacar */
  font-size: 16px; /* tamaño de la fuente */
}

.menu a:hover {
  color: #fff; /* cambio de color al pasar el mouse */
  background-color: #333; /* cambio de color de fondo al pasar el mouse */
}



.inicio{
  background-image: url(../img/cute-dog-spitz-at-groomer-salon-1-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.opacidad-imagen{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text{
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.text h2{
  font-size: 4vw;
  color: white;
}
.text p{
  font-size: 2vw;
  color: white;
}
.btn{
  display: inline-block;
  background-color: rgb(231, 162, 223);
  color: black;
  padding: 1vw;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
}
.btn:hover {
  color: #fff; /* cambio de color al pasar el mouse */
  background-color: #333; /* cambio de color de fondo al pasar el mouse */
}

.servicios{
  background-color: rgb(231, 162, 223);
  padding: 7vh 20% ;
  text-align: center;
}

.servicios h2{
  font-size: 3vw;
}

.servicios p{
  font-size: 2vw;
  margin-bottom: 5vh;
}

.tipo-de-precios{
  display: flex;
  justify-content: space-between;

}

.prom{
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(63, 82, 231, 0.5);
}

.turno{
  background-color: rgb(231, 162, 223);
  padding: 7vh 20%;
}

 .turno form {
  padding: 0 10%;
  border: 2px solid black;
  border-radius: 5%;
  text-align: center;
  
}

 fieldset {
  border: none;
  margin-bottom: 20px;
}

 label {
  display: block;
  margin-bottom: 10px;
}

 input[type="text"], input[type="email"],input[type="date"], input[type="tel"]{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}


input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.Preguntas{
  height: 1000px;
  padding: 7vh 20%;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 4vh;
  text-align: center;
  margin: 0;
}

@media (max-width: 950px) {
  header{
    padding: 0 10vw;
  }
  .menu-btn{
    display: initial;
    background-color: rgb(231, 162, 223);
    border: 0;
    cursor: pointer;
  }
  .menu{
    position: fixed;
    top: 7vh;
    background-color:rgb(231, 162, 223); 
    left: 0%;
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    gap: 1px;
    border: 1px solid black;
  }

  .menu.activo{
    opacity: 1;
    pointer-events: auto;
  }

  .menu a{
    text-align: center;
    padding: 5px;
  }

  .text{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .text h2{
    font-size: 23px;
  }
  .text p{
    font-size:  18px;
  }
  .servicios{
    padding: 7vh 10%;
  }
  .tipo-de-precios{
    flex-direction: column;
  }
  .prom{
    width: auto;
    margin: 10px;
  }

  .servicios h2{
    font-size: 23px;
  }
  .servicios p{
    font-size: 18px;
  }

  .turno{
    padding: 7vh 10%;
  }
}